processor.global.enable=true
processor.global.annotation=com.baomidou.mybatisplus.annotation.TableName
processor.entityDefineSuffix=Define
processor.entityDefinePackageName=.
processor.mapperSuffix=Mapper
processor.mapperPackageName=..mapper
processor.mapperSuperclassName=org.dromara.mpe.demo.processor.mapper.SuperMapper
processor.repositorySuffix=Repository
processor.repositoryPackageName=..repository
